[project]
	description = Project for Independent study Summer 2013.
[access "refs/*"]
	owner = group user/Arun Reddy (arunreddy)
[access "refs/for/refs/*"]
	read = group user/Arun Reddy (arunreddy)
	push = group user/Arun Reddy (arunreddy)
	label-Code-Review = -2..+2 group user/Arun Reddy (arunreddy)
	label-Verified = -1..+1 group user/Arun Reddy (arunreddy)
	rebase = group user/Arun Reddy (arunreddy)
	removeReviewer = group user/Arun Reddy (arunreddy)
	submit = group user/Arun Reddy (arunreddy)
[access "refs/heads/*"]
	read = group user/Arun Reddy (arunreddy)
	create = group user/Arun Reddy (arunreddy)
	push = +force group user/Arun Reddy (arunreddy)
	pushMerge = group user/Arun Reddy (arunreddy)
[access "refs/tags/*"]
	push = +force group user/Arun Reddy (arunreddy)
	pushTag = group user/Arun Reddy (arunreddy)
	pushSignedTag = group user/Arun Reddy (arunreddy)
